# Node.js modules
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Binaries
.DS_Store
*.exe
*.dll
*.so
*.dylib

# OS-specific files
Thumbs.db
.DS_Store

# Build outputs
dist/
build/

# React-specific files
node_modules/
build/
public/
coverage/
.vscode/
.idea/

# Miscellaneous
*.swp
*.swo
*.bak

# MongoDB database files
*.log
*.pid
*.seed
*.tgz

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/